[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Mail Recipient
Name[ar]=مستقبل البريد
Name[be]=Атрымальнік
Name[ca]=Destinatari de correu
Name[cs]=Příjemce elektronické pošty
Name[da]=Postmodtager
Name[de]=E-Mail-Empfänger
Name[dz]=ཡིག་འཕྲིན་ཐོབ་མཁན།
Name[el]=Παραλήπτης
Name[en_GB]=Mail Recipient
Name[eo]=Ret-poŝt adresato
Name[es]=Destinatario de correo
Name[et]=Kirja saaja
Name[eu]=ePosta
Name[fi]=Postin vastaanottaja
Name[fr]=Destinataire courriel
Name[hu]=Címzett
Name[id]=Penerima Surat
Name[it]=Destinatario
Name[ja]=メール (添付ファイル)
Name[ko]=메일 접수자
Name[lt]=Korespondecijos gavėjas
Name[lv]=Pasta saņēmējs
Name[mk]=Примач на поштата
Name[nb]=Epost mottaker
Name[nl]=Email ontvanger
Name[nn]=Mottakar av e-posten
Name[pa]=ਪੱਤਰ ਪ੍ਰਾਪਤਕਰਤਾ
Name[pl]=Odbiorca poczty elektronicznej
Name[pt]=Destinatário do E-mail
Name[pt_BR]=Destinatário do E-mail
Name[ro]=Destinatar mail
Name[ru]=Электронная почта
Name[sk]=Adresár
Name[sq]=Marrës Poste
Name[sv]=E-postmottagare
Name[tr]=E-posta Alan
Name[uk]=Одержувач листа
Name[ur]=ڈاک وصول کار
Name[zh_CN]=邮件接受器
Name[zh_TW]=郵件收據
Icon=internet-mail
Exec=/usr/local/libexec/thunar-sendto-email %F
